.formInput {
    display: flex;
    flex-direction: column;
    color: hsl(213, 96%, 18%);
    margin-bottom: 4%;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.error {
    color: hsl(354, 84%, 57%);
    font-family: Ubuntu-bold;
    display: none;
}

.input {
    height: 36px;
    border-radius: 5px;
    border: 2px solid hsl(229, 24%, 87%);
    padding-left: 10px;
}

.input:focus {
    border-color: hsl(243, 100%, 62%);
    outline: none;
}