.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--color-highlight-light);
  height: 12vh;
}

.title {
  margin-left: 21vw;
}

.link {
  font-size: 1.5rem;
  margin-left: 21vw;
  width: fit-content;
}