.resultsTable {
  display: table;
  border-collapse: collapse;
  width: 60vw;
}

.headerRow {
  background-color: var(--color-highlight-dark);
  color: var(--color-almost-white);
  height: 3.5rem;
  text-align: left;
  font-size: 1.2rem;
}

.headerRow th {
  padding-left: 1.5rem;
}

.dataRow {
  background-color: var(--color-highlight-light);
  border-bottom: 1px solid var(--color-highlight-dark);
  height: 3rem;
}

.dataRow td {
  padding-left: 1.5rem;
}

.buttonData {
  cursor: pointer;
  color: var(--color-call-to-action);
  font-weight: bold;
}

.buttonData:hover {
  color: var(--color-call-to-action-alternative);
}