.container {
    display: flex;
    flex-direction: column;
}

.container label {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

.container input {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 15%;
    border: 2px solid var(--color-highlight-dark);
    border-radius: 6px;
    padding-left: 0.5%;
}

.container input::placeholder {
    color: var(--color-text-primary);
}

.container input:focus {
    outline: solid 2px var(--color-call-to-action);
}