.container {
  display: flex;
  flex-direction: column;
  row-gap: 10em;
  margin: 10em 18em;
}

.content {
  display: flex;
  height: 50vh;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  column-gap: 2em;
}