.formCard {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray);
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
}

.cardImage {
    width: 32px;
    height: 32px;
    margin-bottom: auto;
    margin-left: 16px;
    margin-top: 16px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.cardName {
    color: var(--marine-blue);
    margin-bottom: 5px;
    font-family: Ubuntu-medium;
    font-size: 18px;
}

.cardPrice {
    color: var(--cool-gray);
    margin-bottom: 10px;
}