.container {
    display: flex;
    flex-direction: column;
    background-color: var(--alabaster);
    padding: 24px;
    border-radius: 7px;
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 0;
    margin-right: 0;
    border: none;
    height: 1px;
    color: var(--light-gray);
    background-color: var(--light-gray);
}

.addOnContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}