.container {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  align-items: center;
  height: 3vh;
}


.logoContainer {
  display: flex;
  align-items: center;
  margin-top: 3em;
  margin-left: 1em;
}

.logoContainer svg {
  width: 7em;
  height: auto;
  color: var(--color-accent);
}

.externalLinksContainer {
  display: flex;
  column-gap: 2em;
  align-items: center;
  margin-top: 2em;
}

.icon {
  width: 3em;
  height: 3em;
}

.icon:hover {
  color: var(--color-accent);
}
