.formButton {
    width: 96px;
    height: 48px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-family: Ubuntu-medium;
}

.primary {
    color: hsl(231, 100%, 99%);
    background-color: hsl(213, 96%, 18%);
}

.primary:hover {
    color: hsl(231, 100%, 99%);
    background-color: hsl(243, 100%, 62%);
}

.secondary {
    color: hsl(231, 100%, 99%);
    background-color: hsl(243, 100%, 62%);
}

.secondary:hover {
    background-color: hsl(228, 100%, 84%);
}

.light {
    color: hsl(231, 11%, 63%);
    background-color: hsl(231, 100%, 99%);
}

.light:hover {
    color: hsl(213, 96%, 18%);
}
